<div class="row">
    <div class="span8">
        <% if flash[:deletekey] %>
            <div class="alert alert-info">
                <p>Your delete key is <code><%= flash[:deletekey] %></code>. You'll need this code if you want to delete your upload.</p>
            </div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-error">
                <p><%= flash[:error] %></p>
            </div>
        <% end %>
        <h2><strong><%= @track.title %></strong> by <em><%= @track.artist %></em></h2>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span2">
        <img src="<%= @track.artwork %>" alt="<%= @track.album %>" />
    </div>
    <div class="span4 well" style="padding-bottom: 10px;">
        <table class="table table-condensed">
            <tr><td><strong>Title</strong></td><td><%= @track.title %></td></tr>
            <tr><td><strong>Artist</strong></td><td><%= @track.artist %></td></tr>
            <tr><td><strong>Album</strong></td><td><%= @track.album %></td></tr>
        </table>
        <% if @track.path %>
            <audio controls="controls" autoplay="autoplay" style="width: 100%;">
                <source src="<%= '/' + @track.path %>" type="audio/mp3" />
                Your browser does not support the audio tag. Download the track below.
            </audio>
        <% else %>
            <p>Sorry, but this track has expired.</p>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="span2">
        &nbsp;
    </div>
    <div class="span4 well">
        <% if @track.path %>
            <p><a class="btn btn-primary" href="<%= '/' + @track.path %>">Download track</a></p>
        <% end %>
        <p><form action="/<%= @track.id %>" method="post">
            <fieldset>
                <input type="hidden" name="_method" value="delete" />
                <input type="text" name="key" placeholder="Delete key" style="width: 25%; margin-top: 8px" /><br />
                <input type="submit" class="btn btn-danger" value="Delete track" />
            </fieldset>
            </form>
        </p>
        <p><label>Permalink</label><input class="span2 uneditable-input" type="text" value="<%= "http://#{request.host}/#{@track.id}" %>" /></p>
    </div>
</div>